@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Edu+AU+VIC+WA+NT+Hand:wght@500&family=Handlee&family=Patrick+Hand+SC&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Comfortaa:wght@300..700&family=Playwrite+IS:wght@300&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Edu+AU+VIC+WA+NT+Hand:wght@500&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Edu+AU+VIC+WA+NT+Hand:wght@500&family=Handlee&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Patrick+Hand+SC&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Shadows+Into+Light&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}

.cl-internal-uumn80{
  scale: 2.5;
}

.cl-internal-1p733cp{
  background: rgba(205, 240, 225, 0.8);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-bottom: 0;
  border-radius: 0;
  box-shadow: none ;
}

.cl-internal-1tpvhd8{
  font-size: 1.5rem;
}

.cl-internal-1vbkfwh{
  display: none;
}

.cl-internal-ovdovs{
  display: none;
}

.cl-internal-ttumny{
  font-weight: 700;
}

.cl-internal-180wb59{
  display: none;
}

.cl-internal-4x6jej{
  background: rgba(165, 240, 220, 0.8);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  
}

.cl-internal-1dauvpw{
  display: none;
}

.cl-internal-kyvqj0{
  color:#4D4D4D
}

.cl-internal-1v2koqu{
  font-weight: 700;
}

.bg-auth {
  background-image: url("/soultouch-signinbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

